gen/*
bin/*
obj/*

ApkPatchLibraryDemo/bin/*
ApkPatchLibraryDemo/gen/*

ApkPatchLibraryDemo2/bin/*
ApkPatchLibraryDemo2/gen/*

ApkPatchLibraryServer/bin/*
ApkPatchLibraryServer/Debug/*
ApkPatchLibraryServer/Release/*
